$background-colour : #279AF1; 
$wording-colour : #F7F7FF ;
$max-width: 768px ; 
$error-colour: #dc3434;
$success-colour: green ; 
 

*{
    padding:0; 
    margin:0;
    box-sizing: border-box;
}

form{
    margin: 5% ; 
}

.btn{
    color : $wording-colour ; 
    background-color: $background-colour;
    border: 0px ;   
}
.error{
    color : $error-colour;
}

.success{
    color: $success-colour;
}

#submitButton{
    width: 30% ; 
    position: relative;
    margin : auto; 
}


